@use "sass:color";
$navbar-height: 4rem;
$background-color: #FFF;

/* Colors */

$primary-red: #E20716;
$secondary-green: #449435;
$secondary-green-light-background: rgba(68, 148, 53, 0.2);
$promo-yellow: #FDC100;
$light-gray: #F9F9F9;
$primary-dark: #1D1D1B;
